<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iridium</title>
</head>
<body>
    New User

    <form enctype="multipart/form-data" action="/user" method="POST">
        username: <input type="text"
            id="username" name="username" />
        
        email
        <input type="text"
            id="email" name="email" />

        password
        <input type="password"
            id="password" name="password" />

        confirm password
        <input type="password"
            id="password_confirm" name="password_confirm" />

        <input type="submit" value="Create">
    </form>
</body>
</html>